/* App.css */
body{
  background-color: #222121;
}


/* Estilo básico para asegurar que el contenido no se superponga con el footer */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa al menos todo el alto de la ventana */
}

.content {
  flex: 1; /* Ocupa todo el espacio disponible en la columna */
  padding: 20px; /* Añade espacio entre el contenido y el borde */
}

img{
  width: 250px;
  border-radius: 60%;
  justify-content: center;
  margin: 0 auto;
}

h1{
  text-align: center;
  color: #bba004;
  font-family: sans-serif;}

/* Media queries para dispositivos más pequeños */
@media (max-width: 768px) {
  .content {
      margin: 10px;
      max-width: 90%;
  }

  .form-container {
      height: auto;
      flex-direction: column; /* Cambia la dirección del flex a columna */
      padding: 20px;
  }

  .form-container button {
      width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
      padding: 10px;
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  .content {
      margin: 5px;
      max-width: 100%;
  }

  .form-container {
      padding: 10px;
  }

  .form-container button {
      padding: 8px;
      font-size: 12px;
  }
}