.logo {
    width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Esto centra horizontalmente */
    border-radius: 20px;
    /* Para redondear las esquinas */
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 1);
    /* Sombra: desplazamiento-x desplazamiento-y desenfoque color */
}



@media screen and (max-width: 480px){
    .logo {
        width: 50%;
        /* Ajusta el ancho según tu necesidad */
        max-width: none; /* Quita la limitación de ancho máximo */
        height: auto;
        display: block;
        margin: 0 auto;
        /* Esto centra horizontalmente */
        border-radius: 20px;
        /* Para redondear las esquinas */
        box-shadow: 15px 20px 20px rgba(0, 0, 0, 1);
        /* Sombra: desplazamiento-x desplazamiento-y desenfoque color */
    }
}

@media screen and (max-width: 320px){
    .logo {
        width: 50%;
        /* Ajusta el ancho según tu necesidad */
        max-width: none; /* Quita la limitación de ancho máximo */
        height: auto;
        display: block;
        margin: 0 auto;
        /* Esto centra horizontalmente */
        border-radius: 20px;
        /* Para redondear las esquinas */
        box-shadow: 15px 20px 20px rgba(0, 0, 0, 1);
        /* Sombra: desplazamiento-x desplazamiento-y desenfoque color */
    }
}