/* Estilos generales */

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom, #2c2c2b, #30302f, #333332, #373736, #3b3b3a);
    color: #222;
    margin: 0;
    background-size: cover;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 960px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #f0f0f0;
    text-align: center;
    font-family: "Bungee Spice";
    font-weight: 400;
}

span {
    font-weight: bold;
    font-family: "Diplomata SC", serif;
}

.reserva {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f0f0f0;
    text-align: center;
}

.alerta, .loader {
    background-color: #3a3939;
    color: #06af00;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 0px #fff;
}

/* Estilos de la cuadrícula de turnos */

.turnos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #ce0202;
}


.turno-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.turno-item:hover {
    background-color: #3a3939;
}

/* Estilos del formulario */

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: grid;
    gap: 10px;
    justify-items: center;
    margin-bottom: 10px;
}

input[type="date"],
select, .cliente{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]{
    color: #ffff;
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.logo{
    width: 150px;
    height: auto;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-shadow: 0px 0px 2px 0px #a8a8a8;
    margin-top: 30px;
    overflow-wrap: break-word;
}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 768px) {
    body {
        justify-content: center; /* Centra horizontalmente el contenido */
        align-items: center; /* Centra verticalmente el contenido */
        background-size: cover;
        text-align: center; /* Centra el texto en el cuerpo */
    }

    .container {
        padding: 5%;
        max-width: 100%;
    }

    h1, span {
        font-size: 6vw;
        margin-bottom: 2vh;
    }

    .turno-item {
        flex: 0 0 calc(25% - 10px);
        max-width: calc(25% - 10px);
    }

    button {
        font-size: 3vw;
        padding: 2% 4%;
    }

    form {
        padding: 5%;
    }

    input[type="date"],
    select, input[type="text"] {
        width: 90%;
        padding: 2%;
        font-size: 3vw;
    }

    .footer {
        /* Restablece cualquier estilo previo */
        position: static; /* Restablece la posición a la estándar */
        bottom: auto; /* Restablece la posición en la parte inferior */
        left: auto; /* Restablece la posición a la izquierda */
        width: 95%; /* Ocupa todo el ancho */
        padding: 20px; /* Añade un poco de espacio alrededor */
        text-align: center; /* Centra el contenido horizontalmente */
        font-size: 14px; /* Ajusta el tamaño de fuente */
    }

    .turno-item {
        flex: 0 0 calc(33.33% - 10px); /* Mostrar 3 elementos por fila */
        max-width: calc(33.33% - 10px);
    }
}

/* Media query para dispositivos móviles más pequeños */
@media only screen and (max-width: 480px) {
    body {
        background-size: cover;
        height: 100vh;
        text-align: center;
    }

    h1, span {
        font-size: 6vw;
    }

    .turnos-container {
        flex-direction: row; /* Cambiar la dirección de flexión a fila */
        justify-content: center; /* Centrar los elementos horizontalmente */
    }

    .turno-item {
        flex: 0 0 calc(50% - 10px); /* Mostrar 2 elementos por fila */
        max-width: calc(50% - 10px); /* Para asegurar que no se desborde el ancho del elemento */
        margin: 0 5px; /* Eliminar el margen entre los elementos */
    }

    button {
        font-size: 4vw;
        padding: 3% 6%;
    }

    form {
        padding: 5%;
    }

    input[type="date"],
    select, input[type="text"] {
        padding: 3%;
        font-size: 4vw;
    }

    .turno-item {
        flex: 0 0 calc(50% - 10px); /* Mostrar 2 elementos por fila */
        max-width: calc(50% - 10px);
    }

    .footer {
        /* Restablece cualquier estilo previo */
        position: static; /* Restablece la posición a la estándar */
        bottom: auto; /* Restablece la posición en la parte inferior */
        left: auto; /* Restablece la posición a la izquierda */
        width: 91%; /* Ocupa todo el ancho */
        height: 80px;
        padding: 10px; /* Añade un poco de espacio alrededor */
        text-align: center; /* Centra el contenido horizontalmente */
        font-size: 14px; /* Ajusta el tamaño de fuente */
        overflow-wrap: break-word;
    }
}

/* Ajustes adicionales */
@media only screen and (max-width: 320px) {
    body {
        background-size: cover;
        height: 100vh;
        text-align: center;
        position: relative; /* Añade posición relativa para el fondo */
    }

    h1, span {
        font-size: 6vw;
        align-items: center;
        text-align: center;
        position: relative;
    }

    .container {
        padding: 3%;
    }

    .turno-item {
        flex: 0 0 calc(80% - 20px); /* Mostrar 1 elemento por fila */
        max-width: calc(80% - 20px); /* Para asegurar que no se desborde el ancho del elemento */
        margin: 0 5px; /* Eliminar el margen entre los elementos */
    }

    .turnos-container {
        flex-direction: row; /* Cambiar la dirección de flexión a fila */
        justify-content: center; /* Centrar los elementos horizontalmente */
    }

    .footer {
        position: absolute; /* Posición absoluta */
        left: 0; /* A la izquierda */
        width: 100%; /* Ancho completo */
        height: 100px;
        padding: 10px; /* Añade espacio interno */
        text-align: center; /* Centra el texto horizontalmente */
        font-size: 14px; /* Tamaño de fuente */
        box-sizing: border-box; /* Incluye el padding en el ancho */
        overflow-wrap: break-word; /* Rompe las palabras largas */
    }
}
