/* reservar.css */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
    padding-bottom: 80px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input,
.form-container select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto; /* Centro horizontal */
    display: block; /* Necesario para que el margen automático funcione */
}

.form-container button:hover {
    background-color: #0056b3;
}


div .pago {
    color: #ff0000;
    font-size: 20px;
    border: 1px solid #bba004;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.seña{
    font-weight: bold;
    border: 1px solid #808080;
    padding: 10px;
    border-radius: 4px;
    }
