h2,
p {
    color: #bba004;
    font-size: 20px;
    text-align: center;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.map-container iframe {
    border: 0;
    margin-bottom: 30px;
}